        /* --------------------------------- GENERAL --------------------------------- */
        
        body {
            font-family: 'montserrat', sans-serif;
            font-size: 16px;
        }
        /*===============NAVBAR ---------------------------------*/
        
        #mainNavbar {
            background-color: rgba(0, 0, 0, 0.50)
        }
        
        #mainNavbar .navbar-nav {
            letter-spacing: 1px;
            font-size: 14px;
        }
        
        #mainNavbar .nav-link {
            color: white;
        }
        
        #mainNavbar .nav-link:hover {
            color: #337AFF;
            transition-duration: 0.70s;
            transition-timing-function: ease-out;
        }
        
        #mainNavbar .navActive {
            color: #337AFF;
        }
        /* #line1,#line2,#line3 {
               width: 23px;
               height: 3px;
               margin: 5px;
               background-color: white;} */
        /* --------------------------------- HEADER --------------------------------- */
        
        .mainHeader {
            background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/header-img.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            background-color: rgba(0, 0, 0, 1);
        }
        /* MISSION */
        
        #mainMission {
            background-color: #151f20;
        }
        /*--------------------------------- COLLECTION --------------------------------- */
        
        #mainCollection {
            background-color: #6c757d;
        }
        
        #mainCollection .positionElement {
            position: absolute;
            top: 75%;
            right: 0;
            background-color: rgba(34, 34, 34, 0.80);
            font-size: 14px;
            letter-spacing: 2px;
            width: 70%;
            cursor: pointer;
        }
        
        #mainCollection .positionElement:hover {
            background-color: #222222;
        }
        /* --------------------------------- GALLERY --------------------------------- */
        
        #mainGallery .galleryListItem {
            cursor: pointer;
            user-select: none;
        }
        
        #mainGallery .galleryListItem:hover {
            color: #022c78;
            transition-duration: 0.70s;
            transition-timing-function: ease-out;
            font-weight: bolder;
        }
        /* --------------------------------- CUSTOMERS --------------------------------- */
        
        #mainCustomers {
            background-color: #151f20;
        }
        /* --------------------------------- JOIN US --------------------------------- */
        
        .cardImage {
            background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("images/pricing-card-bg.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* max-width: 400px; */
        }
        /* .cardImage li {
    border-bottom: 1px solid white;
    width: 40%;
    margin: 0 auto;
} */
        
        .priceBtn {
            background-color: #f5593d;
            border-radius: 35px;
            padding: 5px 20px;
        }
        
        .priceBtn:hover {
            transform: translateY(-2px);
            background-color: #ff2c0c;
            transition: background-color 1.4s;
            transition-timing-function: ease-out;
        }
        
        .card1,
        .card2,
        .card3 {
            max-width: 400px;
            box-shadow: 7px 18px 50px #555;
            border-radius: 10px;
        }
        /* --------------------------------- CONTACT --------------------------------- */
        
        @media (max-width: 992px) {
            #mainContact {
                background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, .95));
            }
        }
        
        #mainContact {
            /* START TRAINING */
            /* background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, 0.95) 50%, transparent 50%), url("images/form-img.jpeg"); */
            /* background: linear-gradient(rgba(255, 0, 0), rgba(0, 0, 255)), url("images/form-img.jpeg"); */
            /* background: linear-gradient(90deg, rgba(255, 0, 0), rgba(0, 0, 255)), url("images/form-img.jpeg"); */
            /* background: linear-gradient(90deg, rgba(255, 0, 0, 1), rgba(0, 0, 255, 0.95)), url("images/form-img.jpeg"); */
            /* background: linear-gradient(to left, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, 0.80) 50%, transparent 50%), url("images/form-img.jpeg"); */
            /* END TRAINING */
            background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, 0.80) 50%, transparent 50%), url("images/form-img.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        #mainContact input {
            border-style: none;
            border-bottom: 2px solid white;
        }
        
        #mainContact input:focus {
            border-bottom: 4px solid #B22222;
            outline: transparent;
            box-shadow: none;
        }
        
        #mainContact button {
            background-color: #f5593d;
        }
        
        #mainContact button:hover {
            background-color: #ff2c0c;
            transition: 1.4s;
            transition-timing-function: ease-out;
        }
        
        #mainContact .label {
            display: block;
            font-size: 13px;
            margin-top: -70px;
            margin-left: 10px;
            color: #B22222;
        }
        
        .input:placeholder-shown+.label {
            /* transform: translate(20px, 20px); */
            background-color: yellow;
            visibility: hidden;
        }
        
        @media (max-width: 992px) {
            #mainContact {
                background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 1));
            }
            #mainContact .form {
                /* margin: 90px; */
                width: 70%;
                margin: 0 auto;
            }
        }
        /* --------------------------------- FOOTER --------------------------------- */
        
        #mainFooter {
            background-color: #343a40;
        }
        
        .footerList {
            color: #eee;
        }
        
        .footerList:hover {
            color: #337AFF;
            text-decoration: none;
        }